@import url(reset.css);
t *,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
}

body {
  font-family: "Noto Sans TC", sans-serif;
}
body .header {
  display: flex;
  justify-content: space-between;
  max-width: 1296px;
  padding: 28px 150px;
  position: sticky;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  top: 0;
  z-index: 999;
}
body nav {
  display: flex;
  position: relative;
  align-items: center;
}
body .menu {
  display: flex;
  align-items: center;
  gap: 40px;
  justify-content: space-between;
}
body .menu li {
  list-style-type: none;
  padding: 4px 8px;
  position: relative;
}
body .menu li a {
  color: #3B3B3B;
  text-decoration: none;
  line-height: 24px;
}
body .menu li .Border {
  position: absolute;
  width: 8px;
  height: 8px;
}
body .menu li .lt {
  top: 0;
  left: 0;
}
body .menu li .rt {
  top: 0;
  right: 0;
}
body .menu li .lb {
  bottom: 0;
  left: 0;
}
body .menu li .rb {
  right: 0;
  bottom: 0;
}
body .menu li:hover .lt {
  border-top: 1px solid #919191;
  border-left: 1px solid #919191;
}
body .menu li:hover .rt {
  border-top: 1px solid #919191;
  border-right: 1px solid #919191;
}
body .menu li:hover .lb {
  border-bottom: 1px solid #919191;
  border-left: 1px solid #919191;
}
body .menu li:hover .rb {
  border-right: 1px solid #919191;
  border-bottom: 1px solid #919191;
}

.HeroSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 460px;
  background-color: #FAFAFA;
}
.HeroSection .BC {
  display: flex;
  line-height: 24px;
}
.HeroSection .BC .B {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.HeroSection blockquote {
  height: 192px;
  width: 670px;
  position: relative;
  text-align: center;
  font-size: 24px;
  font-weight: 400px;
  line-height: 28.8px;
  padding: 70px 0px 0px 0px;
}
.HeroSection blockquote span {
  position: relative;
  z-index: 0;
}
.HeroSection blockquote .textmark {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}
.HeroSection blockquote .First_slogan {
  margin-bottom: 16px;
}
.HeroSection blockquote .quote-left {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
.HeroSection blockquote .quote-right {
  display: block;
  position: absolute;
  bottom: 0px;
  right: 0px;
}
.HeroSection .BC {
  display: flex;
  line-height: 24px;
  width: 100%;
  max-width: 636px;
  gap: 40px;
}
.HeroSection .BC h3 {
  color: #5B5B5B;
}
.HeroSection .BC .BL {
  width: 24px;
  border: 2px solid #C1C1C1;
}
.HeroSection .BC p {
  color: #3B3B3B;
}
.HeroSection .BC .B {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.HeroSection .BC .C {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wrap {
  margin-top: 72px;
  max-width: 1920px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
.wrap .card {
  padding-right: 24px;
  padding-bottom: 80px;
}
.wrap .card img {
  width: 636px;
  height: 400px;
  border-radius: 8px;
  margin-bottom: 16px;
}
.wrap .card h3 {
  font-size: 28px;
  color: #3B3B3B;
  font-weight: 700;
  line-height: 33.6px;
  margin-left: 16px;
  margin-bottom: 8px;
}
.wrap .card p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-left: 16px;
  margin-bottom: 24px;
  color: #919191;
}
.wrap .card .tags {
  margin-left: 16px;
  font-family: "Noto Sans TC", sans-serif;
  display: flex;
  justify-content: start;
}
.wrap .card .tags li {
  list-style-type: none;
  margin-right: 16px;
  background-color: #F1F1F1;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 16px;
}

.PNList {
  display: flex;
  justify-content: center;
}
.PNList .PN {
  text-align: center;
  margin-right: 16px;
}
.PNList .PN .N1 {
  background: #000;
  color: #F1F1F1;
}
.PNList .PN a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 4px;
  font-size: 24px;
  padding: 2px 4px;
  width: 40px;
  height: 40px;
  line-height: 24px;
  text-decoration: none;
  color: #000;
  transition: all 0.3s ease-in-out;
}
.PNList .PN a:hover {
  background: #000;
  color: #F1F1F1;
}

.Footer_zone {
  height: 424px;
  display: flex;
  justify-content: center;
  background-image: url("./img/footer-bg-lg.webp");
  background-size: cover;
  margin-top: 120px;
  padding: 80px 30px;
}
.Footer_zone .Footer_elements {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  max-width: 1296px;
  width: 100%;
}
.Footer_zone .Footer_elements .FT_Text_Box {
  font-size: 20px;
}
.Footer_zone .Footer_elements .FT_Text_Box .Ftext {
  line-height: 30px;
  color: #3B3B3B;
  margin: 24px 0px;
}
.Footer_zone .Footer_elements .FT_Text_Box .email {
  line-height: 24px;
  color: #919191;
}
.Footer_zone .Footer_elements .SocialMediaBox {
  display: flex;
  flex-direction: column;
}
.Footer_zone .Footer_elements .SocialMediaBox .btn {
  width: 274px;
  height: 72px;
  border-radius: 8px;
  padding: 3px 24px;
  margin-bottom: 24px;
  text-decoration: none;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  align-items: center;
  color: #3B3B3B;
  border: 1px solid #C1C1C1;
  background-color: #FFFFFF;
}
.Footer_zone .Footer_elements .SocialMediaBox .btn img {
  margin-right: 15px;
}
.Footer_zone .Footer_elements .SocialMediaBox .BlackList {
  background-color: #000;
  color: #FFFFFF;
}

@media (max-width: 1024px) {
  .header {
    padding: 28px 20px;
  }
  .header .menu {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 576px) {
  .header {
    width: 100%;
    padding: 8px 12px;
    position: sticky;
  }
  .header .logo {
    width: 74px;
    height: 33px;
  }
  .header nav {
    display: none;
  }
  .HeroSection {
    width: 100%;
  }
  .HeroSection blockquote {
    width: 300px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .HeroSection .BC {
    width: 235px;
    flex-wrap: wrap;
  }
  .wrap {
    max-width: 355px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .wrap .card .tags {
    width: 100%;
  }
  .Footer_zone {
    width: 100%;
  }
  .Footer_zone .FT_Text_Box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    text-align: center;
  }
  .Footer_zone .SocialMediaBox {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}/*# sourceMappingURL=all.css.map */